*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

@font-face {
    font-family: 'bebas' ;
    src: url('fontes/BebasNeue-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}   

header{
    background-image: linear-gradient(to bottom, #145e35f1, #1fa85d, #1A5C37, #355C47);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header>h1{
    font-family: 'bebas';
    font-weight: normal;
    color: whitesmoke;
    text-align: center;
    text-shadow: 1px -1px 18px 3px rgb(0 0 0 / 44%);
}

header>p{
    font-family: 'bebas';
    font-weight: normal;
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 600px;
    margin:auto
}

nav{
    background-color: #1A5C37;

    margin: auto;
    padding: 5px;
    
}

nav>a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    transition-duration: 0.1s;
   
}
nav>a:hover{
    box-shadow: 1px -1px 18px 3px rgb(0 0 0 / 44%);
    background-color: #1A5C37;
    border-radius: 5px;
}


main h1{
    color: #185e37;
    font-family: 'droid';
    font-weight: normal;
    font-style: normal;
    text-indent: 5px;
}

main h2{
    color: rgba(245, 245, 220, 0.815);
    font-family: 'droid';
    font-weight: lighter;
    font-size: 1.2em;
    background-image: linear-gradient(to right,#1A5C37, #83E1AD,   transparent);
    border-top-left-radius: 6px;
    text-indent: 5px;
}

main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main{
    padding: 10px;
    margin: auto;
    min-width: 320px;
    max-width: 800px;
    box-shadow: 1px -1px 18px 3px rgb(0 0 0 / 44%);

}

main strong{
    color: #1fa85d;
}

p{
padding: 20px;
text-align: justify;
text-indent: 20px;
line-height: 1.5em;
}

aside{
border-top-left-radius: 10px;
border-top-right-radius: 10px;
line-height: 1.2em;
background-color: #78f3af;
padding: 10px;
box-shadow: 1px -1px 18px 3px rgb(0 0 0 / 44%);
}

aside > ul{
    list-style: inside;
    list-style-type: '\2714\00A0\00A0';
    columns:2
}
aside>h3{
    color: white;
    background-color: #185e37;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    

}

div.video{
    background-color: black;
    margin: 30px -10px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;

}

div.video>iframe{
    position: absolute;
    top: 5% ;
    left: 5% ;
    width: 90% ;
    height: 90%;
}


footer{
    text-align: center;
    background-color: #1A5C37;
    
}
